@use "mixins" as *;

// colors
$c-VeryDarkMagenta: hsl(300, 43%, 22%);
$c-SoftPink: hsl(333, 80%, 67%);
$c-DarkGrayishMagenta: hsl(303, 10%, 53%);
$c-LightGrayishMagenta: hsl(300, 24%, 96%);
$c-White: hsl(0, 0%, 100%);

// font
$f-Main: 'League Spartan', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $f-Main;
    font-size: 1.5rem;
    font-weight: 500;
}

h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: $c-VeryDarkMagenta;
    line-height: 4.8rem;
    letter-spacing: -0.2rem;
    margin-top: 0.2rem;

    @include bp(md) {
        font-size: 4rem;
        line-height: 3.2rem;
        text-align: center;
    }
}

p {
    font-size: 1.7rem;
    font-weight: 500;

    &.bold {
        font-weight: 700;
    }
}


// extend
%fx {
    display: flex;

    &-jc-c {
        display: flex;
        justify-content: center;
    }

    &-jc-sb {
        display: flex;
        justify-content: space-between;
    }

    &-ai-c {
        display: flex;
        align-items: center;
    }

    &-jcai-c {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

%fxcol {
    display: flex;
    flex-direction: column;

    &-jc-c {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-jc-sb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-ai-c {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-jcai-c {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}